<div id="timer-setup">
  <form>
    <label for="seconds">Seconds</label>
    <input type="number" name="seconds" id="seconds" value="3"></input>
    <submit class="button">Done</submit>
  </form>
</div>

<div id="timer-run">
  <div class="timer"><%= @seconds %></div>
  <a class="button" href="#" phx-click="start">Start</a>
  <a class="button button-outline" href="#">Reset</a>
  <a class="button button-outline" href="#">Setup</a>
</div>
