/* This file is for your main application css. */

@import "./phoenix.css";
@import "../../deps/phoenix_live_view/assets/css/live_view.css";

.timer {
  text-align: center;
  border: 2px solid gray;
  padding: 0 5rem;
  margin-bottom: 1rem;
  font-size: 20rem;
}

.timer.finished {
  color: white;
  background-color: red;
}

.message {
  border: 1px solid #080;
  background-color: #cfc;
  margin: 1rem 0;
  padding: 1rem;
}
