<h1>Timer</h1>
<section class="row">
  <div id="timer-set">
  </div>
  <div id="timer-run">
    <div class="timer">60</div>
    <a class="button" href="#">Start</a>
    <a class="button button-outline" href="#">Reset</a>
  </div>
</section>
<hr>
<section class="row">
  <div id="timer-setup">
    <h2>Setup</h2>
    <form>
      <label for="seconds">Seconds</label>
      <input type="number" id="seconds"></input>
      <submit class="button">Done</submit>
    </form>
  </div>
</section>
